.gridItem {
  background-color: var(--background-box-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 20px;
  position: relative;
  z-index: 0;

  .icon {
    border-radius: 10%;
    bottom: 87%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    left: 95%;
    object-fit: cover;
    position: absolute;
    width: 30px;
    z-index: 2;
  }

  .description {
    font-size: 1rem;
    margin-top: 10px;
  }

  .color {
    border-radius: 8px;
    inset: 0;
    overflow: hidden;
    position: absolute;

    .colorBackground {
      filter: blur(55px);
      height: 5rem; /* Matches the width */
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(50%, -50%);
      transition: all 0.7s ease; /* Transition for width, height, and blur */
      width: 5rem; /* 20px in Tailwind is 5rem by default */
    }
  }
}

/* Hover state for group-hover */
.gridItem:hover .colorBackground {
  filter: blur(80px);
  height: 10rem; /* Matches the width */
  width: 10rem; /* 40px in Tailwind is 10rem by default */
}
