@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Neue-Montreal', sans-serif;
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #1d1d1f;
  background-color: #000;
}

.body-hidden {
  overflow: hidden;
}

p {
  margin: 0;
}

.bold {
  font-weight: 700;
}
