$primary-color: #2f4ada;
$secondary-color: #17a2b8;
$tertiary-color: #fff;

$gray: #ededed;
$gray-variant: #e0e0e0;
$gray-variant2: #bbb;
$dark-light: #333;
$error: #d0021b;

$bg-color: rgba(47, 74, 218, 0.1);

$header-height: 5vh;
$sidebar-height: 95vh;